<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1>Your Random Number is:<%=number%>
    </h1>
    <% if(number%2==0){ %>
        <h1>The Number Is Even!</h1>
        <% } else { %>
            <h1>The Number Is Odd!!</h1>
            <% } %>
                <h3>The Number Is <%= number%2===0?'EVEN':'ODD' %>
                </h3>

</body>

</html>